---
import { Image } from 'astro:assets'

import CountUp from '@/components/CountUp.tsx'
import Layout from '@/components/Layout.astro'
---

<Layout title='Feliz día de la primavera'>
  <main class='min-h-screen bg-cover bg-center relative' style='background-image: url(/bg.png)'>
    <Image
      src='/azucena.png'
      alt='azucena image'
      title='Azucena'
      class='absolute bottom-0 left-0 -z-10 w-full h-full object-cover object-center md:object-top md:w-1/2 md:bottom-auto md:left-auto md:top-0'
      loading='lazy'
      width='500'
      height='300'
    />
    <section class='container flex flex-col items-center justify-around h-screen max-w-full'>
      <div class='container bg-white bg-opacity-50 p-4 md:p-8 rounded-2xl'>
        <h1 class='text-6xl md:text-9xl font-bold text-center'>Feliz día de la primavera</h1>
        <h3 class='text-center mt-5 text-3xl'>Que haya sido un hermoso día</h3>
      </div>
      <div class='p-1 max-w-full'>
        <p class='text-xl font-bold pb-2'>Desde ese día</p>
        <CountUp client:only='react' />
      </div>
    </section>
  </main>
</Layout>
